*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-image: url("images/img_clouds_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
   background-position: center;
}
.content {
    margin: 20px;
    margin-right: 70%;
    background: #42bbeb;
background: linear-gradient(157deg,rgba(66, 187, 235, 1) 0%, rgba(163, 223, 255, 1) 43%, rgba(201, 234, 255, 1) 100%);
    padding: 5%;
    border-radius: 50px;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
    background-color: rgb(68, 95, 219);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(246, 248, 255);
  border: none;
  border-radius: 10px;
  color:  rgb(68, 95, 219);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}